# VENVs
.env
.venv
env/
venv/

# Pastas/arquivos do editor
.vscode/
.idea/

# Logs e outputs do projeto
logs/
output/

# Arquivos temporários e binários
*.jpg
*.csv
*.rar

# Cache do Python
__pycache__/
*.py[cod]